html, body {
	font-family: 'Open Sans', sans-serif;
}


#container {
	width: 90%;
	max-width: 900px;
	height: 3000px;
	z-index: 102;
	margin: 10px;
	margin-top: 0px;
	overflow: hidden !important; 
}
	#skrollr-body {
		position: relative;
		width: 100%;
/*			background-image: url('../images/stardust/stardust_@2X.png');
*/			/*background-color: rgba(2,2,2,0.9);*/
		height: 6000px;
		overflow-x:hidden;
	}


.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}
	
	#bg1, #bg2, #bg3 {
	position: absolute;
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/final_images/stars_gray.png) repeat 0 0;
}

#bg2 {
	z-index:49;
	background-image:url(../images/final_images/stars_yel.png);
}

/*#bg3 {
	z-index:51;
	background-image:url(../images/final_images/stars_small.png);
}*/

#progress {
	height:1%;
	background:#444;
	bottom:0;
	z-index:200;
}
